<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}} - Holey Soley</title>
    {{!-- <link rel="stylesheet" href="../../public/css/tailwind.css"> --}}
     <script src="https://cdn.tailwindcss.com"></script>
     <link rel="stylesheet" href="css/main.css">
    
</head>
<bod class="grid place-items-center">
<header class="bg-black p-[10px] w-full  items-center flex justify-between text-white shadow-md shadow-[rgba(0,0,0,0.4)]">

    <h1 class="text-[2rem] text-transform uppercase font-[500]">Holey Soley</h1>
    <ul class="flex gap-[15px] text-[1.3rem] pr-[10px]">
        <a href="/profile"><li class="border-b-[1px] cursor-pointer">Profile</li></a>
        <li class="border-b-[1px] cursor-pointer">Log In</li>
        <li class="border-b-[1px] cursor-pointer">Log Out</li>
    </ul>
</header>
    <main>
        {{{body}}}
    </main>
    <footer class="bg-black text-white absolute bottom-[0]  w-full p-[10px] text-center">
        <p>&copy; 2024 Holy Soley</p>
    </footer>
</body>
</html>