<section class='my-[20px] pb-[50px] flex flex-col justify-center items-center'>
  {{#if user}}
    <h1 class='font-bold text-[3rem] mb-[20px]'>{{uppercaseFirstLetter
        user.firstname
      }}'s Dashboard</h1>

    <div class='grid grid-cols-4 gap-x-[40px] gap-y-[20px]'>
     Homepage
    </div>
  {{else}}
    <h1 class='font-bold text-[3rem]'>Dashboard</h1>

    <h2 class='text-center text-[3rem] mt-[200px]'>Log In to see sneakers...</h2>
  {{/if}}

</section>