/* .image-1{
    background-image:url('https://cdn.sanity.io/images/d6wcctii/production/0daea25f31e10f6287400264dfd01f44f1498ae4-1070x760.png?w=1200&q=80&fit=clip&auto=format');
    background-size:cover;
} */
.image-2{
    background-image:url('');
    background-size:cover
}
.image-3{
    background-image:url('');
    background-size:cover
}
.image-4{
    background-image:url('');
    background-size:cover
}
.image-5{
    background-image:url('');
    background-size:cover
}
.image-6{
    background-image:url('');
    background-size:cover
}
.image-7{
    background-image:url('');
    background-size:cover
}
.image-8{
    background-image:url('');
    background-size:cover
}
.image-9{
    background-image:url('');
    background-size:cover
}
.image-10{
    background-image:url('');
    background-size:cover
}
.image-11{
    background-image:url('');
    background-size:cover
}
.image-12{
    background-image:url('');
    background-size:cover
}